{% extends "base.html" %}
{% block head %}
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
{% endblock %}

{% block content %}
      <div class="jumbotron">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
        <h1>Add Resolution</h1>
        <form class="form-signin" method="post" role="form" enctype=multipart/form-data>
            <label for="resNum" class="sr-only">Resolution No.</label>
            <input type="text" name="resNum" id="resNum" class="form-control" placeholder="Resolution Number" required autofocus>

            <label for="resName" class="sr-only">Resolution Name</label>
            <input type="text" name="resName" id="resName" class="form-control" placeholder="Resolution Name" required>

            <label for="supervisor" class="sr-only">Supervisor</label>
            <input type="text" name="supervisor" id="supervisor" class="form-control" placeholder="Supervisor" required>

            <label for="resolveDate" class="sr-only">Resolve Date</label>
            <input type="date" name="resolveDate" id="resolveDate" class="form-control" placeholder="Resolve Date" required>

            <label for="uploadedFile" class="sr-only">Upload File</label>
            <input type="file" name="uploadedFile" id="uploadedFile" class="form-control" placeholder="Upload File" required>

            <button id="btnAddResolution" class="btn btn-lg btn-primary btn-block" type="submit">Add Resolution</button>
        </form>
      </div>
{% endblock %}