<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}|ROARS System</title>
    {% else %}
        <title>Resolution Ordinance And Reports Storage System</title>
    {% endif %}
    <script src="./static/custom.js"></script>
    <script src="./static/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    {% block head %} {% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% if page == "index" %}
                    <li role="presentation" class="active">
                        <a href="index">Home</a>
                    </li>
                    {% else %}
                    <li role="presentation">
                        <a href="index">Home</a>
                    </li>
                    {% endif %}
                    {% if session.roleid %}
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            View Document <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/viewResolution">View Resolution</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/viewOrdinance">View Ordinance</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/viewReport">View Report</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if session.roleid == 1 or session.roleid == 2 %}
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Add Document <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/addResolution">Add Resolution</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/addOrdinance">Add Ordinance</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/addReport">Add Report</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if session.roleid == 1 %}
                    <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="addUser">Add User</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="viewUser">View User</a>
                        </li>
                    </ul>
                    </li>
                    {% endif %}
                    {% if session.roleid %}
                    <li role="presentation" class="active">
                        <a href="/logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">ROARS System</h3>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer" align="center">
            <p>&copy; Mellomar Otarra 2016</p>
        </footer>

    </div>
</body>
</html>