{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="jumbotron">
        <img src="../static/images/Getafe_Bohol.png">
        <p class="lead"></p>
        <h2>Municipality of Getafe</h2>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% if not session %}
        <br>
        <h4>Login</h4>
        <form class="form-signin" method="post" role="form">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        {% endif %}
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Getafe</h4>
            <p>Getafe (also spelt Jetafe) is a 3rd municipal income class municipality in the province of Bohol, Philippines. According to the 2015 census, it has a population of 30,955. In the 2016 election, it had 18,576 registered voters.</p>

            <h4>2013 Earthquake Effect</h4>
            <p>Getafe and surrounding areas suffered moderate-to-severe damage to houses, churches, and other structures in the 2013 Bohol earthquake, which caused approximately 130 fatalities in total.</p>

            <h4>Election 2016</h4>
            <p>In the 2016 election, it had 18,576 registered voters, meaning that 60% of the population are aged 18 and over.</p>
        </div>

        <div class="col-lg-6">
            <h4>Jetafe</h4>
            <p>An Getafe, na inaapod man na Jetafe, sarong ikaapat na klaseng banwaan kan probinsya nin Bohol, Filipinas. Susog sa senso kan 2007,. igwang 27,852 katawo na nageerok igdi.</p>

            <h4>Bayan ng Getafe</h4>
            <p>Ang Bayan ng Getafe o Jetafe ay isang Ika-4 na klaseng bayan sa lalawigan ng Bohol, Pilipinas. Ayon sa senso noong 2000, ito ay ma populasyon na 26,826 sa may 4,694 na kabahayan.</p>

            <h4>WAKEBOARDING AT THE TOWN OF GETAFE, BOHOL</h4>
            <p>Wake boarding is an exhilarating and extreme surface water sport, combining elements of water skiing, snowboarding and surfing, with the rider holding on a cable that is attached and pulled by a speed boat at a tremendous speed. The rider uses the waves churned by the boat’s motor to launch himself into the air.</p>
        </div>
    </div>
{% endblock %}